<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.medication.dao.MedicationDao">
<update id="mergePermitMedication"
		parameterType="com.app.medication.dto.MedicationPermitDto">


		MERGE INTO medications M


		USING (

		SELECT

		#{itemSeq} AS item_seq,

		#{ediCode} AS edi_code,

		#{itemName} AS item_name,

		#{entpName} AS
		entp_name,

		#{className} AS class_name,

		#{materialName} AS material_name,

		#{etcOtcCode} AS etc_otc_code,

		#{isDiscontinued} AS is_discontinued

		FROM dual

		) API


		/*
		* ITEM_SEQ가 같다면
		* 같은 의약품으로 판단
		*/
		ON (
		M.item_seq =
		API.item_seq
		)


		/*
		* 기존에 존재하는 의약품
		*/
		WHEN MATCHED THEN

		UPDATE SET

		M.edi_code =
		API.edi_code,

		M.item_name =
		API.item_name,

		M.entp_name =
		API.entp_name,

		M.class_name =
		API.class_name,

		M.material_name =
		API.material_name,

		M.etc_otc_code =
		API.etc_otc_code,

		M.is_discontinued =
		API.is_discontinued,

		M.updated_at =
		SYSDATE


		/*
		* 실제 데이터가 하나라도 변경된 경우에만
		*
		UPDATE를 실행한다.
		*
		* 따라서 매주 API 동기화를 했다는 이유만으로
		* updated_at이 변경되지 않는다.
		*/
		WHERE

		NVL(M.edi_code, '#NULL#')
                    <![CDATA[<>]]>
		NVL(API.edi_code, '#NULL#')

		OR

		NVL(M.item_name, '#NULL#')
                    <![CDATA[<>]]>
		NVL(API.item_name, '#NULL#')

		OR

		NVL(M.entp_name, '#NULL#')
                    <![CDATA[<>]]>
		NVL(API.entp_name, '#NULL#')

		OR

		NVL(M.class_name, '#NULL#')
                    <![CDATA[<>]]>
		NVL(API.class_name, '#NULL#')

		OR

		NVL(M.material_name, '#NULL#')
                    <![CDATA[<>]]>
		NVL(API.material_name, '#NULL#')

		OR

		NVL(M.etc_otc_code, '#NULL#')
                    <![CDATA[<>]]>
		NVL(API.etc_otc_code, '#NULL#')

		OR

		M.is_discontinued
                    <![CDATA[<>]]>
		API.is_discontinued


		/*
		* DB에 존재하지 않는 신규 의약품
		*/
		WHEN NOT MATCHED THEN

		INSERT (

		item_seq,

		edi_code,

		item_name,

		entp_name,

		class_name,

		material_name,

		etc_otc_code,

		is_discontinued,

		updated_at

		)

		VALUES (

		API.item_seq,

		API.edi_code,

		API.item_name,

		API.entp_name,

		API.class_name,

		API.material_name,

		API.etc_otc_code,

		API.is_discontinued,

		SYSDATE

		)


	</update>

<select id="countMedications" resultType="int">

		SELECT COUNT(*)
		FROM
		medications

	</select>
</mapper>
